@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x: hidden;
}
.text-opacity-40 {
    color: rgba(255, 255, 255, 0.4); /* White color with 40% opacity */
}
.green{
    color:rgba(0, 97, 0, 1);
}
